<% include header %>
     <div class="normalpara">
        <h1 style="color: #D9892e">About RoboArmadillo</h1>
        <p>We're RoboArmadillo, a robotics start-up founded in 2014. We began by creating an Open-source Raspberry Pi Robotics Kit design for encouraging teenagers in robotics. This eventually evolved in the fully fledged RoPiPyKokiDuino. From there we have grown, we now offer custom robotics solutions tailored to suit your individual needs and in the near future will be offering courses in programming, electronics and robotics aswell as competitions using the RoPiPyKokiDuino kits where teams from across the country can compete to build the best robots and win prizes. All of our work is released to the public under a GPL V2 license which you can find at: www.github.com/RoboArmadillo.</p>
      </div>
      <br>
      <div class="normalpara">
        <h1 style="color: #D9892e">Meet the Team</h1>
        <h2>Adam Ferguson</h2>
        <img src="images/adam.png">
        <p>Adam began coding three years ago when he was cornered by a desperate Robotics team competiting in Southampton Student Robotics in need of a programmer. From there he's done all sorts from web apps to games and simulations including being a Young Rewired State 2012 Winner and 2013 finalist. His main interest is in swarm robotics as it's often an excuse for doing some difficult maths. More often than not these days he's generally found programming simulations for Robots claiming that the real world isn't precise or digital enough for his liking.  </p>
        <h3>Key Skills</h3>
        <ul>
          <li>Python Scripting</li>
          <li>Arduino Scripting</li>
          <li>Simulation Creation</li>
          <li>Circuit design and construction</li>
          <li>Physics</li>
        </ul>
      </div>

      <div class="normalpara">
        <h2>George Anderson</h2>
        <img src="images/george.png">
        <p>George is the practical man of RoboArmadillo, holder of the prestigious Arkwright scholarship for young engineers he is going on to study Mechanical Engineering next year. When he's not being distracted by printing whistles on the shiny new 3d printer he can pretty much build anything he puts his mind to. </p>
        <h3>Key Skills</h3>
        <ul>
          <li>Python Scripting</li>
          <li>Mechanical design and construction</li>
          <li>Improvisation </li>
          <li>Circuit design and construction</li>
        </ul>
      </div>

      <div class="normalpara">
        <h2>Ashley Scarlett</h2>
        <img src="images/ashley.png">
        <p>Ashley, the communicator. When George and Adam start getting techy Ash acts as a brilliant communicator managing to translate techical babble into coherant understandable English. But to say this was his only role would be to do him a great diservice he is a talented mechanic in his own right often taking the lead in design and construction.</p>
        <h3>Key Skills</h3>
        <ul>
          <li>Mechanical design and construction</li>
          <li>Improvisation </li>
          <li>Communication</li>
          <li>Being Practical</li>
          <li>Understanding Adam</li>
        </ul>
      </div>
<% include footer %>