<% include header %>

        <!-- Jumbotron -->
     <div class="normalpara">
        <h1 style="color: #D9892e">Contact Us</h1>
        <p>If you would like anymore information or you wish to persue a robotics project with us then don't hesitate to get in contact.</p>
        <br>
        <p>You can contact us in a number of ways:<p>
        <ul>
          <li>Email: <a href="mailto:adamdanferguson@gmail.com" target="_blank">adamdanferguson@gmail.com</a></li>
          <li>Twitter: <a href="https://twitter.com/Robo_Python" target="_blank">@robo_python</a></li>
          <li>GitHub: <a href="https://github.com/RoboArmadillo" target="_blank">RoboArmadillo</a></li>
        </ul>        
      </div>
<% include footer %>