<% include header %>
     <h1 class="headingText" >Documentation for the kit</h1>
        <p class="lead"></p>
      <div>
        <h2 class="headingText">To Start.</h2>
        <p>There are few things which we need to sort out first. From the folder, which you downloaded from Githhub during the setup instructions, take out the folder named "RoboArmadillo" and place that on a memory stick. The code is stored in the file "usercode.py" when you edit this it changes the code that your robot will run. At the beginning of this file you will at the very minimum need the following two lines of code</p>
        <p></p>
        <code>import robot</code>
        <p></p>
        <p>Don't worry too much about this, essentially its just importing the code which needs to run behind the scenes while you do your code which the robot executes.</p>
        <code>R=robot.Robot()</code>
        <p></p>
        <p>This line creates what is called an "instance" of the robot object. This is just a container which has all of the functions which you will use to control your robot, in it. </p>
      </div>
      <% include footer %>