<% include header %>

        <div class="normalpara">
        <h1 class="headingText" >Download</h1>
        <p>So you want to make your very own RoPiPyKokiDuino kit? You have come to the right place! There are a number of steps which you must take to make yourself a working kit. There are two sides to it however. Firstly there is the actual construction the kit itself and then there is loading the software onto the Pi and the Arduino. By following the easy to use step by step guide below you will have a kit ready and working in no time at all!</p>

        <h3 class="headingText" >Our sincerest apologies. This section is still under construction, we aim to have finished this page by Friday 6th of June so please keep checking back until then for details on how to construct your very own RoPiPyKokiDuino Robotics Kit.</h1>

        <h3 style="color: #D9892e">Section 1 - Preparing the Pi</h3>
        <p>In a terminal type the following:</p>
        <code>sudo apt-get update</code>
        <p></p>
        <code>sudo apt-get upgrade</code>
        <code>sudo apt-get install libopencv-dev libyaml-dev freeglut3-dev scons python-picamera python-rpi.gpio python-serial python-opencv</code>
        <p></p>
        <p>Download and extract Pikoki from here #put link here</p>
        <p>In the Pikoki folder:</p>
        <p><code>sudo scons</code>
        <p></p>
        <p>Note that if you get an error about permissions, in the Pikoki folder:</p>
        <code> sudo chmod 755 create-pkg-config</code>
        <p></p>
        <p>copy <i>placeYouExtracted/lib/libkoki.so</i> to <i>/usr/lib</i></p>
        <p>In the PiPyKoki folder:</p>
        <p><code>sudo python setup.py install</code></p>
        <p></p>

    </div>
<% include footer %>