<% include header %>

<div class="content">
    <div class="headline">
        <h1>RoboArmadillo</h1>
        <h1 id="orange">The</h1>
        <h1>Custom Robotics People</h1>
       	<a class="pure-button" href="projects" role="button">What are we working on?</a>
      </div>


  	<div class="blocks">
  		   	<h1>Interested?</h1>
        <div class="block">
          <h2>Have a project in mind? Get in touch!</h2>
          <p><a class="pure-button" href="contact" role="button">Click here &raquo;</a></p>
        </div>
        <div class="block">
          <h2>Come here for the RoPiPyKokiDuino?</h2>
          <p><a class="pure-button" href="ropipykokiduino" role="button">Click here &raquo;</a></p>
       </div>
        <div class="block">
          <h2>Who are we? Find out more.</h2>
          <p><a class="pure-button" href="about" role="button">Click here &raquo;</a></p>
        </div>
	</div>
</div>

<% include footer %>