<% include header %>
      <div class ="secondnav">
        <ul class="nav nav-justified">
          <li><a href="ropipykokiduino">RoPiPyKokiDuino</a></li>
          <li><a href="roboswarm">RoboSwarm</a></li>
          <li><a href="robohex">RoboHex</a></li>

        </ul>
      </div>

      <h1 style="color: #D9892e">Projects</h1>
      <p>Above you can see a list of the various projects that we are working on. All projects when finished will be opensource under a GPL V2 license. Currently we are still continuing development of the RoPiPyKokiDuino kit with an accompanying 3D simulator which will be surfacing in the next few weeks. Furthermore we are also currently investigating swarm robotics and hexapedal movement.</p>
<% include footer %>