<% include header %>


  <div class ="secondnav">
        <ul class="nav nav-justified">
          <li><a href="ropipykokiduino">RoPiPyKokiDuino</a></li>
          <li><a href="roboswarm">RoboSwarm</a></li>
          <li class= "active"><a href="robohex">RoboHex</a></li>
      </div>

      <h1 style="color: #D9892e">RoboHex</h1>
      <p>For the Greshams Student Robotics Competition Team this year we developed the RoboHex (see below), this was an experiment into hexapedal movement and it was quite successful. There are a number of areas of expansion and improvement we are looking into in regard to our 6 legged walking robot. These include adjustable turn angles (currently it can only turn approximately 45 degrees at a time) and adding another plane of movement so that the robot can cope with uneven terrain for out doors use.</p>
      <br>
      <img src="images/hexy.png">


<% include footer %>
