<% include header %>

    <div class ="secondnav">
        <ul class="nav nav-justified">
          <li><a href="ropipykokiduino">RoPiPyKokiDuino</a></li>
          <li class = "active"><a href="roboswarm">RoboSwarm</a></li>
          <li><a href="robohex">RoboHex</a></li>
      </div>

    <h1 style="color: #D9892e">RoboSwarm</h1>
    <br>
    <p>This is currently a code only project modelling behaviour of very simple robots moving and interacting in large numbers however we hope to eventually turn this simulation into a working physical project. The RoboSwarm is based on Jon Bartlett's early "Trevor" robots developed back in 2009 running on microcontrollers programmed using FlowCode. These had their own food chains and genetics which were passed on, when we build them this time around however we plan to use Arduino Micros.  </p>
    <br>
    
    <img src="images/swarm.png">

<% include footer %>