<% include header %>
     <div class ="secondnav">
        <ul class="nav nav-justified">
          <li class = "active"><a href="ropipykokiduino">RoPiPyKokiDuino</a></li>
          <li><a href="roboswarm">RoboSwarm</a></li>
          <li><a href="robohex">RoboHex</a></li>

        </ul>
      </div>

       <h1 style="color: #D9892e">RoPiPyKokiDuino</h1>
       <img src="images/ropipy2.png">
       <br>
       <p>This is the page for the RoPiPyKokiDuino. This kit is what drew the founders of RoboArmadillo together and it is currently our most developed product. It is in beta stage testing and available to download and install (simply follow the instructions in the "Download and Setup" tab below). If you have already built you're kit (or you're using the simulator) then the documentation for using the kit can also be found below. </p>
        <div class ="secondnav">
          <ul class="nav nav-justified">
            <li><a href="documentation">Documentation</a></li>
            <li><a href="download">Download and Setup</a></li>

          </ul>
        </div>
<% include footer %>